.image{
    width: 30rem;
    margin: 0 auto;
}

.box{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.footer{
    margin-top: 10px;
}

.button{
    margin-top: 15px;
}